$fs-xs: 0.75rem; // 12px
$fs-base: 1rem; // 16px
$fs-md: 1.333rem; // 21.28px
$fs-lg: 1.777rem; // 28.48px
$fs-xl: 2.369rem; // 37.92px
$fs-2xl: 3.158rem; // 50.56px
$fs-3xl: 4.21rem; // 67.36px

$fw-base: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;
